/* CSS declarations go here */
body {
    background: url(images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 18px;
}

.whiteBackground {
    background: white;
    border-radius: 10px;
    padding: 5px;
}

.outerWrapper {
    padding: 10px;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
    border-color: darkgray;
}

h1 {
    padding-top: 0px;
}

.signature .nameAndCountry {
    font-size: 16px;
}

.signature .info {
    font-size: 14px;
    font-style: italic;
}

.signature .comments {
    font-size: 14px;
    white-space: pre-wrap;
}



/* Some CSS voodoo from https://codepen.io/bbodine1/pen/novBm  (using sliderThree) */
.yesNoSlider {
    width: 80px;
    height: 26px;
    background: #333;
    margin: 5px;
    position: relative;
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}
.yesNoSlider:after {
    content: 'NO';
    color: rgba(255, 179, 187, 0.41);
    position: absolute;
    right: 10px;
    z-index: 0;
    font: 12px/26px Arial, sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
}
.yesNoSlider:before {
    content: 'YES';
    color: #27ae60;
    position: absolute;
    left: 10px;
    z-index: 0;
    font: 12px/26px Arial, sans-serif;
    font-weight: bold;
}
.yesNoSlider label {
    display: block;
    width: 34px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 1;
    background: #fcfff4;
    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 50px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}
.yesNoSlider input[type=checkbox] {
    visibility: hidden;
}
.yesNoSlider input[type=checkbox]:checked + label {
    left: 43px;
}